<template class="app-template home-page">

    <script type="module">
        import settings from './app-settings.js'
        import * as auth from './assets/auth.js';
        import { comments } from './assets/comments.js';
        import { CommentsApp } from './assets/comments-app.js';

        window.handleSignInClick = auth.handleAuthClick
        window.handleSignOutClick = auth.handleAuthClick

        auth.callbacks.onSignIn = () => {
          document.getElementById('signout-button').style.display = 'inline-block'
          document.getElementById('signin-button').style.display = 'none'

          let commentsApp = new CommentsApp()

          comments(settings.CHANNEL_ID, settings.POLL_INTERVAL)
            .subscribe(items => {
              console.log(items);
              commentsApp.comments = items
            })

        }

        auth.callbacks.onSignOut = () => {
          document.getElementById('signout-button').style.display = 'none'
          document.getElementById('signin-button').style.display = 'inline-block'
        }
    </script>

    <div id="app-comments"></div>

    <button id="signin-button" onclick="handleSignInClick()">Sign In</button>
    <button id="signout-button" onclick="handleSignOutClick()">Sign Out</button>

</template>